name: "S0PCM Reader"
description: "S0PCM reader for Home Assistant"
version: "3.2.0"
slug: "s0pcm_reader"
url: "https://github.com/darkrain-nl/home-assistant-addon-s0pcm-reader"
arch:
  - aarch64
  - amd64
init: false
startup: application
hassio_api: true
homeassistant_api: true
options:
  device: null
  log_level: info
  mqtt_tls: false
  mqtt_tls_check_peer: false
  mqtt_recovery_wait: 7
schema:
  device: device(subsystem=tty)
  log_level: list(critical|error|warning|info|debug)?
  # Connection Settings
  mqtt_host: str?
  mqtt_port: port?
  mqtt_username: str?
  mqtt_password: password?
  mqtt_client_id: str?
  mqtt_base_topic: str?
  mqtt_protocol: list(5.0|3.1.1|3.1)?
  # Advanced MQTT Settings
  mqtt_discovery: bool?
  mqtt_discovery_prefix: str?
  mqtt_retain: bool?
  mqtt_split_topic: bool?
  mqtt_recovery_wait: int(1,60)?
  # Security Settings
  mqtt_tls: bool?
  mqtt_tls_port: port?
  mqtt_tls_ca: str?
  mqtt_tls_check_peer: bool?
services:
  - mqtt:want
