name: "S0PCM Reader"
description: "S0PCM reader based on docker-s0pcm-reader"
version: "1.4.0"
slug: "s0pcm_reader"
url: "https://github.com/darkrain-nl/home-assistant-addon-s0pcm-reader"
arch:
  - aarch64
  - amd64
init: false
startup: application
hassio_api: true
options:
  device: null
  log_level: info
  mqtt_tls: false
  mqtt_tls_ca: ""
  mqtt_tls_check_peer: false
  mqtt_port: 1883
  mqtt_tls_port: 8883
schema:
  device: device(subsystem=tty)
  log_level: list(critical|error|warning|info|debug)?
  mqtt_tls: bool?
  mqtt_tls_ca: str?
  mqtt_tls_check_peer: bool?
  mqtt_port: port?
  mqtt_tls_port: port?
services:
  - mqtt:want
map:
  - share:rw
